body {
    font-size: 1rem;
    line-height: 1.25;
    background-color: #f0f0f0;
}

/* Default Styling */
a { text-decoration: none; }
img {
    display: block;
    max-width: 100%;
}
strong { font-weight: 700; }
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
.unstyled-listing {
    list-style-type: none;
}
.icon {
    display: inline-block;
    background: url('../../images/sprite.png') no-repeat;
}
.size-xs {
    width: 16px;
    height: 16px;
}
/* End of Default Styling */
.header-container{
    margin-left: 8rem;
    padding: 1rem 0;
    background-color: #fff;
}
.logo-container {
    float: left;
    margin: 0 1rem;
}
.navigation-container {
    float: right;
    margin-top: 2rem;
    margin-right: 5rem;
}
.navigation-list {
    display: inline-block;
    margin-right: 2rem;
    vertical-align: top;
}
.navigation-list-item {
    display: inline-block;
    margin-right: 0.5rem;
}
.navigation-list-link {
    display: inline-block;
    padding: 0 0.5rem;
    position: relative;
    font-size: 0.875rem;
    font-weight: 700;
    color: #000;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    z-index: 4;
}
.navigation-list-link.active:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 60%;
    z-index: -1;
    background-color: rgba(254, 211, 66, 0.5);
}
.navigation-list-link:hover:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 60%;
    z-index: 1;
    background-color: rgba(254, 211, 66, 0.5);
}
.navigation-action-section { display: inline-block; }
.navigation-action-item {
    display: inline-block;
    margin-right: 0.75rem;
}
.navigation-action-section .navigation-action-item:last-child { margin-right: 0; }
.ico-search { background-position: 0 0; }
.ico-wish { background-position: -22px -2px; }
.ico-cart { background-position: -42px -2px; }
.cart-icon-holder {
    position: relative;
}
.cart-icon-holder:before {
    content: '1';
    position: absolute;
    top: -10px;
    right: -15px;
    padding: 0.25rem 0.5rem;
    font-size: 0.625rem;
    font-weight: 700;
    border-radius: 50%;
    background-color: #FFD642;
}

/* Breadcrumb Section */
.breadcrumb-container { 
    margin-left: 8rem;
    padding: 2rem 0;
}
.ico-home { background-position: -64px -2px; }
.breadcrumb-list-item {
    display: inline-block;
    margin-right: 1rem;
    vertical-align: top;
}
.breadcrumb-separator {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
	border-top: 3px solid transparent;
	border-left: 6px solid #FFD642;
	border-bottom: 3px solid transparent;
}
.breadcrumb-list-link {
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 500;
    color: #bababa;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.breadcrumb-list-link.active { font-weight: 700; }
/* End of Breadcrumb Section */

/* Content Navigation & Social Media */
.content-navigation {
    position: fixed;
    top: 35%;
}
.content-navigation-list-item {
    position: relative;
    margin-bottom: 3.125rem;
    text-align: right;
}
.content-navigation-list-item.active:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 15px;
    z-index: -1;
    background-color: rgba(254, 211, 66, 0.5);
}
.content-navigation-list-item:hover:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 15px;
    z-index: -1;
    background-color: rgba(254, 211, 66, 0.5);
}
.content-navigation-list-item-link {
    font-size: 1rem;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}
.content-social-section { margin-left: 18rem; }
.content-social-list-item {
    display: inline-block;
    margin-left: 2rem;
}
.ico-facebook { background-position: -83px -2px; }
.ico-twitter { background-position: -99px -2px; }
.ico-pinterest { background-position: -117px -3px; }
/* End of Content Navigation & Social Media */

/* Detail Description */
.section-title { display: none;}
.section-title.active {
    display: block;
    position: fixed;
    top: 42%;
    left: 0;
    font-size: 6rem;
    line-height: 1.5;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    transform: rotate(-90deg);
}
.section-container {
    float: right;
    width: 56%;
}
.description-section { margin-bottom: 4.5rem; }
.description-background {
    position: relative;
    padding: 5rem 0;
    background-color: #fff;
}
.details-image-holder{
    position: absolute;
    top: 8%;
    left: -5%;
    width: 55%;
}
.detail-container {
    float: right;
    width: 37%;
    margin-right: 5%;
}
.description-header {
    font-size: 2rem;
    line-height: 1;
    font-weight: 700;
}
.star-ratings-sprite {
    display: inline-block;
    background: url('../../images/star-rating-sprite.png') repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 74px;
}
.star-ratings-sprite-rating {
    background: url('../../images/star-rating-sprite.png') repeat-x;
    background-position: 0 100%;
    float: left;
    height: 14px;
    display: block;
}
.review-count{
    display: inline-block;
    padding-left: 0.25rem;
    color: #c0c0c0;
    vertical-align: top;
}
.price-container { margin: 1.25rem 0; }
.product-price {
    font-size: 1.325rem;
    color: #c0c0c0;
    text-decoration: line-through;
}
.discount-price {
    display: inline-block;
    padding-left: 0.5rem; 
    font-size: 1.325rem;
    font-weight: 700;
    color: #000;
}
.product-feature-lists {
    padding: 1rem 0 1rem 1rem;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    list-style-type: disc;
}
.product-feature-description {
    font-size: 0.875rem;
    color: #6b6b6b;
}
.product-feature-title {
    color: #000;
    text-transform: uppercase;
}
.product-info-section { margin: 1rem 0; }
.product-dispatch-section,
.product-return-section {
    display: inline-block;
    width: 49%;
}
.product-icon-holder {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 50%;
    background-color: #c1c1c1;
}
.ico-dispatch { background-position: -136px -3px; }
.ico-return { background-position: -154px -3px; }
.product-info-description {
    display: inline-block;
    width: 65%;
    padding-left: 0.5rem;
    font-size: 0.625rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    vertical-align: bottom;
}
.product-color-title {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
}
.product-color-list { margin: 0.5rem 0; }
.product-color-list-item {
    display: inline-block;
    margin-right: 0.25rem;
    font-size: 0;
}
.product-color-link { 
    display: inline-block;
    position: relative;
}
.product-color {
    display: inline-block;
    padding: 0.625rem;
    border-radius: 50%;
    border: 0.5px solid #c1c1c1;
}
.grey-bg { background-color: #656c6a; }
.black-bg { background-color: #000; }
.white-bg { background-color: #fff; }
.product-color-list-item .active .product-color:before {
    content: '';
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    background: url('../../images/sprite.png') no-repeat;
    background-position: -5px -24px;
    z-index: 4;
}
.product-color-list-item:hover .product-color:before {
    content: '';
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    background: url('../../images/sprite.png') no-repeat;
    background-position: -5px -24px;
    z-index: 4;
}
.product-cart-section { width: 80%; }
.cart-interaction-section,
.cart-action-section {
    float: left;
    width: 50%;
}
.cart-interaction-section {
    background-color: #f0f0f0;
}
.cart-input {
    width: 25%;
    font-size: 1rem;
    color: #000;
    text-align: center;
    background-color: transparent;
    border: none;
}
.minus,
.plus {
    display: inline-block;
    width: 30%;
    padding: 0.5rem 0;
    font-size: 1rem;
    color: #3a3737;
    text-align: center;
}
.btn-cart {
    width: 100%;
    padding: 0.75rem 0;
    font-size: 0.625rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffd541;
    border: none;
}
.btn-cart:hover {
    cursor: pointer;
    background-color: #987a0c;
}
/* End of Detail Description */

/* Description */
.descripton-section-holder { position: relative; }
.description-header-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    padding: 1.5rem 1rem;
    background-color: #f0f0f0;
    z-index: 2;
}
.description-header-title {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
}
.description-container {
    float: left;
    width: 30%;
    padding-top: 8rem;
}
.description-detail-image-holder {
    float: right;
    width: 60%;
}
.description-detail {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
}
.description-video-detail-container { position: relative; }
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.video-play-btn-section {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 50%;
    width: 64px;
    margin: 0 auto;
    z-index: 3;
}
/* End of Description Section */

/* Download Section */
.accomodation-section { position: relative; }
.accomodation-title {
    position: absolute;
    top: 25%;
    left: -20%;
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    transform: rotate(-90deg);
}
.accomodation-title:after {
    content: '';
    position: absolute;
    top: 35%;
    left: -50%;
    width: 100px;
    height: 1px;
    background-color: #000;
}